:root {
  --question-timeout-delay: 0.5s;
  --question-timeout: 5s;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

#question {
  margin-top: 15vh;
  padding-left: 6vw;
  padding-right: 6vw;
  font-size: 7vw;
}

#answers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20vw;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-top: 15vh;
  font-size: 5vw;
}

#answers span {
}

#progress-indicator {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

#progress-indicator circle {
  fill: transparent;
  stroke: white;
  stroke-width: 10;
  stroke-dasharray: 250 251;
  stroke-dashoffset: 250;
}

.animate-progress circle {
  animation-name: rotate;
  animation-duration: var(--question-timeout);
  animation-delay: var(--question-timeout-delay);
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
